<div id="error">
  <img src="feels-bad-man.jpg" alt="feels bad man" title="feels bad man" />

  <%# FIXME call the field 'text' natively, or at least 'content'. BODY IS SO DUM %>
  <p><%= @post.errors.map {|k,v| k.gsub('Body','Text') }.join("</p><p>") %></p>

  <p>Sending you back<blink>...</blink></p>

  <meta http-equiv="refresh" content="3;url=/">
</div>