<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || 'RANDOMTYPER' %></title>
  <link href="screen.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
  <script src="jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="application.js" type="text/javascript" charset="utf-8"></script>
  <link  href="//fonts.googleapis.com/css?family=Merriweather:regular" rel="stylesheet" type="text/css" >

  <% if ENV['RACK_ENV'] == 'production' %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-96220-23']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <% end %>
</head>
<body>
  <div id="header">
    <h1 id="title">Randomtyper</h1>
  </div>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
