body {
  background-color: #eee;
  font-family: "Trebuchet MS", verdana, tahoma, arial, sans-serif;
  font-size: 18pt;
}

a { color: #000; }
a:hover { color: #005; }
a:active { color: #f0f; }

h1#title {
  /* THANKS GOOGLE... ASSHOLES */
  font-family: 'Merriweather', serif;
  font-size: 59px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#error { text-align: center; }

#container { width: 580px; margin: 0 auto; padding-top: 10px; }
#container h2 { margin-top: 0; padding-top: 0; font-weight: normal; }

#posts { margin: 40px 0 80px; text-align: left; }
#posts .more { margin: 40px 0; }
#posts .more a { font-weight: bold; }

.post {
  border-top: 1px solid #ddd;
  margin: 15px 0 15px;
  padding-top: 15px;
}
.post .created_at { color: #bbb; font-size: 9pt; }

.form textarea { font-size: 16pt; padding: 10px 10px; width: 95%; }
.form .submit { text-align: center; margin-top: 5px; }
.form .submit input { margin-top: 5px; font-size: 20pt; text-align: center; }

.form #wpm {
  display: inline;
  padding: 3px 8px;
  border: 1px dashed #bbb;
  color: #444;
}
